section{
  display: flex;
  justify-content: space-between;
  padding: 100px 50px;
  text-align: left;
  width: 100%;
  background-color: #D9D9D9;

  div{
    margin-bottom: 10px;
  }

  ul li{
    margin-top: 15px;
    display: flex;
    padding: 5px;
    align-items: center;
  }

  i{
    font-size: 24px;
    margin-right: 10px;
  }

  .loc{
    display: flex;
    max-width: 300px;
  }
}

img{
  margin-top: 50px;
}

.rights{
  color: rgba(0, 0, 0, 0.247);
  padding: 0px 20px;
  div{
    display: flex;
    a{
      color: var(--blue-color);
      font-weight: bolder;
    }
  }
}

#map{
  width: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.24);
  height: 100%;
  text-align: end;
}
